<nav class="navbar navbar-dark navbar-expand-lg bg-dark mb-3" id="navbar">
  <div class="container">
    <%= link_to "Finance Tracker", root_path, class: "navbar-brand"%>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Portfolio", my_portfolio_path, class: "nav-link"%>
        </li>
      </ul>
      <ul class = "navbar-nav mb-lg-0">
        <% if user_signed_in? %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "Account settings", edit_user_registration_path, class: "dropdown-item"%></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item"%></li>
            </ul>
          </div>
        <% else %>
            <li class = "nav-item"><%= link_to "Log In", new_user_session_path, class: "nav-link"%></li>
            <li class= "nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link active"%></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
